# AWS key pair private key
mykey
mykey.pub

# Terraform state files
*.tfstate
*.tfstate.backup

# Ignore IP addresses output file
ip_addresses.txt

# Ignore the .terraform directory
.terraform/

# Terraform Lock
.terraform.lock.hcl